{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load markdown_view %}

{% block content %}
<div id="content-wrap">
    <div class="container">
    </div>
    <div class="container">
        <div id="post-detail-wrap" class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-12-no-padding">
                <ol class="breadcrumb">
                    <li><a href="/blog">博客</a></li>
                    <li class="active">{{page.title}}</li>
                </ol>
                <div class="post-detail">
                    <div class="center-block">
                        <div class="post-detail-title">{{page.title}}</div>
                    </div>
                    <br>
                    <div class="post-detail-content">
                        {{ page.content|markdown }}
                    </div>

                    <div class="alone-divider"></div>
                    <div class="creative-commons">
                        <i class="fa fa-fw fa-creative-commons"></i>自由转载-非商用-非衍生-保持署名（<a
                            href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh"
                            target="_blank">创意共享3.0许可证</a>）
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}